*,
*:before,
*:after{
	box-sizing: border-box;
}

body{
	background: #eee;
	margin: 0;
	font: 15px/1.5 'Open Sans', sans-serif;
	color: #8b8b8b; 
}

a{
	text-decoration: none;
	color: #8b8b8b;
}

a:hover{
	text-decoration: underline;
}

form,
fieldset{
	margin: 0;
	padding: 0;
	border: 0;
}

input,
select,
textarea{
	font: 16px 'Open Sans', sans-serif;
}

.page{
	width: 100%;
	overflow: hidden;
	position: relative;
}

.conteiner{
	max-width: 1030px;
	padding: 0 15px;
	margin: 0 auto;
}

.visual{
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	
}

/*.visual .conteiner{
	display: flex;
	flex-direction: column;
	align-items: center;
}
*/
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 27px 0;
	position: relative;
	width: 100%

}

.nav ul{
	position: absolute;
	top: -51px;
	width: 300px;
	min-height: 300px;
	background: #37abc8;
	right: -100px;
	padding: 100px 35px 20px;
	margin: 0;
	list-style: none;
	transition: all 0.5s cubic-bezier(.2, 1.83,.85,.72);
	border-radius: 50%;
	transform: scale(0);
	transform-origin: 100% 0;
	z-index: 1;
}
.nav:after{
	content: "";
	position: absolute;
	top: -25px;
	width: 300px;
	min-height: 300px;
	background: #37abc8;
	right: -90px;
	opacity: 0.6;
	border-radius: 50%;
	transform: scale(0);
	transform-origin: 100% 0;
	transition: all 0.5s ease;
}


.active .nav ul{
	transform: scale(1);
	transition: all 0.3s ease 0.2s;
}

.active .nav:after{
	transform:  scale(1);
}

.nav ul a{
	color: #fff;
	font: 16px 'Montserrat', sans-serif;
	display: inline-block;
	padding: 5px 0;
	position: relative;
}

.nav ul a:after{
	position: absolute;
	bottom: 0;
	left: 0;
	content: "";
	height: 2px;
	width: 0;
	background: #fff;
	transition: all 0.3s ease;
	border-radius: 2px
}

.nav ul a:hover{
	text-decoration: none;
}

.nav ul a:hover:after{
	width: 100%
}

.btn-nav{
	position: relative;
	width: 24px;
	height: 17px;
	display: block;
	transition: transform 0.3s ease;
	z-index: 2;
}

.btn-nav span,
.btn-nav:before,
.btn-nav:after{
	content: "";
	position: absolute;
	height: 3px;
	left: 0;
	right: 0;
	background: #fff;
	top: 50%;
	margin-top: -1px;
	transition: all 0.3s ease;
}

.btn-nav:before{
	margin-top: 5px;
}

.btn-nav:after{
	margin-top: -7px;
}

.active .btn-nav span{
	opacity: 0;
}
.active .btn-nav:before,
.active .btn-nav:after{
	margin-top: -1px;
	transform: rotate(45deg);
}

.active .btn-nav:after{
	transform: rotate(-45deg);
}

.search-form{
	height: calc(100vh - 91px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.search-form h1{
	margin: 0 0 20px;
	font-size: 52px;
	font-weight: 300;
	color: #fff;
	text-align: center;
}

.search-form .form-holder{
	max-width: 448px;
	margin: 0 auto;
	width: 100%;
	display: flex;
}

.search-form input[type='search']{
	width: 100%;
	padding: 10px 20px;
	line-height: 20px;
	border: 0;
}

.search-form input[type='submit']{
	width: 120px;
	background: #fd4f32;
	flex-shrink: 0;
	border: 0;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.3s ease;

}

.search-form input[type='submit']:hover{
	opacity: 0.8;
}

.footer{
	border-top: 1px solid #e7e7e7;
	background: #eee;
	padding: 25px 0;
}

.footer .conteiner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer p{
	margin: 0;
}

.footer ul{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.footer ul li{
	margin: 0 0 0 10px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;

}

.footer ul li a{
	color: #323232;
}

.promo-section{
	background: #eee;
	padding: 0 0 50px;
	margin: 0;
	border-bottom: 1px solid #e7e7e7;
}

.promo-header{
	padding: 35px 0 25px;
}

.promo-header h1{
	color: #323232;
	text-transform: uppercase;
	font: 16px 'Montserrat', sans-serif;
}

.promo-section .holder{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.destination{
	width: 24%;
	background: #fff;
	box-shadow: 0 1px 5px rgba(0,0,0, 0.3);
	
}

.destination a{
	text-decoration: none;
	
}

.destination .img-holder{
	position: relative;
}

.destination .price{
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #fff;
}

.destination .img-holder img{
	display: block;
	width: 100%;
	height: auto;

}

.destination .text-holder{
	padding: 20px 18px 18px 20px;
}

.destination .text-holder h2{
	color: #323232;
	text-transform: uppercase;
	font: 14px 'Montserrat', sans-serif;
}

.destination .text-holder p{
	margin: 0;
	color: #696969;
	font-size: 13px;
}

.guidelines-section{
	background: #fff;
	padding: 70px 0;
}

.guidelines-section h1{
	font-size: 52px;
	font-weight: 300;
}

.guidelines-section .holder{
	display: flex;
	justify-content: space-between;
}

.guidelines-section .text-holde{
	width: 30%;
}

.guidelines-section .text-holder h2{
	color: #323232;
	text-transform: uppercase;
	font: 16px 'Montserrat', sans-serif;
}

.guidelines-section .text-holder p{
	margin: 0;
	font-size: 13px;
}

.email-form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.email-form h2{
	margin: 60px 0 20px;
	font: 16px 'Montserrat', sans-serif;
	color: #323232;
	text-align: center;
	text-transform: uppercase;
}

.email-form .form-holder{
	max-width: 476px;
	margin: 0 auto;
	width: 100%;
	display: flex;
}

.email-form input[type='email']{
	width: 100%;
	padding: 10px 20px;
	line-height: 20px;
	border: 0;
	background: #eeeeee;
}

.email-form input[type='submit']{
	width: 152px;
	text-transform: uppercase;
	background: #fd4f32;
	flex-shrink: 0;
	border: 0;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.3s ease;

}

.email-form input[type='submit']:hover{
	opacity: 0.8;
}


@media(max-width: 1024px){
	.footer .conteiner,
	.guidelines-section .holder{
		flex-wrap: wrap;
	}

	.footer ul{
		width: 100%;
		margin: 0 0 10px; 
	}

	.footer p,
	.guidelines-section {
		width: 100%;
		text-align: center;
	}

	.destination{
	width: 48%;
	}
}

@media(max-width: 640px) {
	.search-form h1{
		font-size: 26px;
		line-height: 1.2;
	}

	.search-form{
		height: 100vh;
		margin: -91px 0 0;

	}

	.footer .conteiner{
		flex-direction: column-reverse;
	}

	.footer p{
		font-size: 12px;
	}

	.destination{
	width: 100%;
	}
}

